<!DOCTYPE html>

<html>

<head>
  <title>RF Localisation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/rssi.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overpass&family=Roboto+Mono:ital,wght@1,700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <!-- your content here... -->
  <!-- <script src="js/scripts.js"></script> -->
  <nav class="navbar">
    <a href="/">
      <p type="submit" name="home">Home</p>
    </a>
    <a href="Localize">
      <p type="submit" name="localize">Localize</p>
    </a>
    <a href="RSSI">
      <p type="submit" name="rssi">RSSI</p>
    </a>

  </nav>

  <div class="content2">
    <table class="table table-info table-striped table-bordered border-dark border-2">

      <thead class="border-dark border-5">
        <tr>
          <th class="border-dark border-5" scope="col" rowspan="2">sr no</th>
          <th class="border-dark border-5 text-center" scope="col" colspan="3">RSSI (in db)</th>
          <th scope="col" class="text-center" colspan="3">Distance (in m)</th>
        </tr>
        <tr class="border-dark border-5">


          <td class="border-dark border-5">anchor1</td>
          <td class="border-dark border-5">anchor2</td>
          <td class="border-dark border-left-1">anchor3</td>
          <td class="border-dark border-5">anchor1</td>
          <td class="border-dark border-5">anchor2</td>
          <td class="border-dark border-5">anchor3</td>

        </tr>
      </thead>
      {% for item in items %}
      <tbody>
        <tr>

          <th scope="row">{{item.sno}}</th>
          <td>{{item.rssi1}}</td>
          <td>{{item.rssi2}}</td>
          <td>{{item.rssi3}}</td>
          <td>{{item.dis1}}</td>
          <td>{{item.dis2}}</td>
          <td>{{item.dis3}}</td>

        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

  <footer class="footer">made by abhigyan , rohan, abhishek, kartik</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>