body{
    background-color: coral;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #3780cf;
    display: flex;
    justify-content:space-evenly;
    font-size: 1.6rem;
    font-family: 'Lato', cursive;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
    
}

.navbar > a {
    /* background-color: deeppink; */
    color: #8ebef1;
    padding-left: 50px;
    padding-right: 50px;
    /* padding: 10px;
    padding-left: 50px;
    padding-right: 50px; */
    
}

.navbar > a:hover {
    background-color:#25486d;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.8rem;
    
}

.content{
    background-color:#78aadf;
    /* background-color: #8ebef1; */
    font-family: 'Lato', cursive;
    font-weight: 100;
    padding: 50px;
    min-height: 80vh;
    display: flex;
    /* align-self: center; */
    justify-content: space-around;
    color: #25486d;
}

.image{
    /* width: auto;
    height: 400px; */
    height: 100%;
    width: auto;
}

.footer{
    color: #8ebef1;
    background-color: #25486d;
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 50px;
    /* margin-top: 50px; */
    /* align-items: center; */
  
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
}
