body{
    background-color:#78aadf;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #3780cf;
    display: flex;
    justify-content:space-evenly;
    font-size: 1.6rem;
    font-family: 'Lato', cursive;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
    
}

#m3 , #m4, #m5, #m1, #m2 { 
    background-color:#3780cf;
    min-height: 50vh;
    padding-top: 10px;
   
}
.navbar2{
    background-color:#25486d;
    display: flex;
    justify-content:space-around;
    font-size: 1.2rem;
    font-family: 'Lato', cursive;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
  
    
}

.navbar2 > a {
  
    color: #78aadf;
    padding-top: 10px;
    
}


.navbar > a {
    /* background-color: deeppink; */
    color: #8ebef1;
    padding-left: 50px;
    padding-right: 50px;
    /* padding: 10px;
    padding-left: 50px;
    padding-right: 50px; */
    
}

/* .navbar2 > a:hover {
    background-color:#25486d;
    cursor: pointer;
    
    
} */

.navbar > a:hover {
    background-color:#25486d;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.8rem; 
}

.content{
    background-color:#78aadf;
    /* background-color: #8ebef1; */
    font-family: 'Lato', cursive;
    font-weight: 100;
    padding: 50px;
    min-height: 80vh;
    display: flex;
    /* align-self: center; */
    justify-content: space-around;
    color: #25486d;
}

.image{
    /* width: auto;
    height: 400px; */
    height: 100%;
    width: auto;
}

.footer{
    color: #8ebef1;
    background-color: #25486d;
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 50px;
    /* margin-top: 50px; */
    /* align-items: center; */
  
}

a {
    text-decoration: none;
}

.selectalgo{
    background-color:#78aadf;
    display: flex;
    justify-content: space-around;
    min-height: 90vh;
}

button{
    background-color:#25486d; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    height: fit-content;
    border-radius: 10px;
}

button:hover {
    font-size: 1.2rem;
}

canvas {
    border: 2px solid black;
    background-color:white; 
}
.plots{
 /* background-color: blue ; */
 display: flex;
 justify-content: space-around;
 padding: 100px;
}